body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  border-radius: 5px;

}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

hr {
  border: dashed;
}
.user-home {
  border: 2px #DCDCDC solid;
}

.user-home h3 {
  text-align: center;
}

.instagram-profile {
  display: flex;
  flex-wrap: wrap;
}

.instagram-post {
  display: flex;
  padding: 5px;
  background-color: #F0F0F0;
  margin: 8px;
  border-radius: 2px;
}

.navbar-container,bar {
  font-family: 'Poppins', sans-serif;
  /* background-color: #F8F8F8;	 */
  border-radius: 5px;
}

.auth-form a, .auth-form label{
  font-family: 'Poppins', sans-serif;
}

.auth-form-logins {
  margin-left: 15px;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.bar {
  margin-left: 450px;
}
.bar-login{
  margin-left: 300px;
}

.navbar-container,bar a:hover{
  color: #E8E8E8;
  text-shadow: blueviolet;
}
.navbar-container h1 {
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  color: black;
  border-radius: 5px;
  font-size: 20px;
}

.infoWindow-pic{
  width: 16px;
  height: 16px;
}

.instagram-profile {
  background-color: #F8F8F8;
}

.address-search-bar {
  margin-left: 10px;
}

.address-search-bar input{
  margin-bottom: 10px
}

.address-search-bar label{
  margin-bottom: 10px;
}

.map-search-result{
  display: inline-flex;
}

.map-search-sidebar {
  display: flex;
  display: inline-grid;
  margin-right: 10px;
}

.map-search-sidebar button {
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.address-search-bar label {
  font-family: 'Assistant', sans-serif;
}

.dropdown {
  margin-bottom: 5px;
}